.sidebar {
  background-color: #333;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow-x: hidden;
  z-index: 10;
}

.sidebar.closed {
  width: 60px; 
}

.sidebar-nav ul.collapsed .sidebar-text {
  display: none;
}

/* Align material icons vertically with text */
.sidebar-nav li i.material-icons {
  vertical-align: text-bottom;   
  font-size: 20px;          
  margin-right: 8px;       
}

h4 i.material-icons {
  vertical-align: text-bottom;   
  font-size: 20px;          
  margin-left: 10px;
}

h4.collapsed .h4-text{
  display: none;
}

.no-lines li {
  border-bottom: none !important;
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
}

.toggle-btn {
  color: white;
  border: 1px solid white;
}

.toggle-container label {
  color: white;
}

.toggle-container {
  margin-top: auto;
  padding-left: 10px;
}

/* Hide checkbox */
.toggle {
  visibility: hidden;
}

/* Label becomes the button */
.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  position: relative;
}

/* Toggle track */
.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: #777;
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

/* Toggle knob */
.toggle + label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0.2em;
  transition: transform 250ms ease-in-out;
}

/* Checked state */
.toggle:checked + label::after {
  transform: translateX(1em);
}


